/* font */
body{
  font-family:"Montserrat", sans-serif;
}
/* font */

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: slideDown 3s ease-out forwards; 
  z-index: 999;
  color: black !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}


/* navlink style */

.navlink::before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #fd6932;
  transition: all linear 0.3s;
}

.navlink:hover::before{
  width: 100%;
}
.text-shadow {
  text-shadow: 2px 2px 5px rgba(146, 142, 142, 0.5);
}

.car-heading::before{
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 90px;
  height: 3px;
  background-color: #fd6932;
  transform: translateX(-50%);
}


/* page not found section design */

.page_404{ padding:40px 0; background:#fff;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 

	.contant_box_404{ margin-top:-50px;}